//process.module=['conda']

params{
  single_end=false
  concatanate=true 
}

executor {
  queueSize=40
}


timeliene{
  enabled=true
  file="./timeline.html"
}

manifest{
  name='nf_ena'
  author='Jose Garcia'
  homePage="github/garciafertson/nf_enadwld"
  description="pipeline for downloading fastq samples fromo ENA database"
  mainScript="main.nf"
  version="0.1"
}
